* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
  }
  
:root {
    --color-primary: #111;
    --color-secondary: rgb(255, 95, 46);
    --color-white: #ffffff;
    --color-black: #000;
    --color-grey0: #f8f8f8;
    --color-grey-1: #dbe1e8;
    --color-grey-2: #b2becd;
    --color-grey-3: #6c7983;
    --color-grey-4: #454e56;
    --color-grey-5: #2a2e35;
    --color-grey-6: #12181b;
    --br-sm-2: 14px;
    --box-shadow-1: 0 3px 15px rgba(0,0,0,.3);
}

body {
    height: 100%;
    margin: 0;
    color: var(--color-grey-3);
    font-family: "Helvetica Neue",sans-serif;
    font-weight: lighter;
}

nav.black ul {
    background-color: var(--color-grey-6);
    opacity: 65%;
}

nav {
    z-index: 10;

    position: fixed;
    width: 100%;

}

nav ul {
    background-color: rgba(0, 0, 0, .2);
    line-height: 1em;
    list-style: none;
    overflow: hidden;
    color: var(--color-white);
    padding: 0;
    text-align: center;
    margin: 0;
    padding-right: 20px;
    transition: 1s;
}

nav ul li {
    display: inline-block;
    padding: 16px 40px;;
}

nav ul li a {
    text-decoration: none;
    color: var(--color-white);
    font-size: 16px;
}

/* Background Images */
.firstImage{
    background-image: linear-gradient(rgba(255,255,255,0.20), rgba(255,255,255,0.20)), url("https://wallup.net/wp-content/uploads/2017/11/17/213646-origami-paper_cranes.jpg") ;
    min-height: 100vh;
    z-index: -1;
}

.secondImage{
    background-image:  linear-gradient(rgba(255,255,255,0.20), rgba(255,255,255,0.20)), url("https://www.agoda.com/wp-content/uploads/2021/03/Itsukushima-Shrine-Hiroshima-attractions-Japan.jpg");    
    min-height: 60vh;
    z-index: -1;
}

.thirdImage{
    background-image:  linear-gradient(rgba(255,255,255,0.20), rgba(255,255,255,0.20)), url("https://orbinews.com/wp-content/uploads/2017/06/origami.me_.jpg");    
    min-height: 60vh;
    z-index: -1;
}

.fourthImage{
    background:  linear-gradient(rgba(255,255,255,0.20), rgba(255,255,255,0.20)), url("../img/grullasEstud.jpeg");
    min-height: 60vh;
    z-index: -1;
}

.fifthImage{
    background:  linear-gradient(rgba(255,255,255,0.20), rgba(255,255,255,0.20)), url("../img/grullasEstud3.jpeg");
    min-height: 60vh;
    z-index: -1;
}

.lastImage{
    background-image:  linear-gradient(rgba(255,255,255,0.20), rgba(255,255,255,0.20)), url("https://www.pixelstalk.net/wp-content/uploads/2016/05/Cherry-Blossoms-and-Mount-Fuji-Japan-Wallpaper.jpg") ;
    min-height: 60vh;
    z-index: -1;
}

.firstImage, .secondImage, .thirdImage, .fourthImage, .fifthImage, .lastImage{
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.captionName{
    position: absolute;
    top: 45%;
    width: 100%;
    text-align: center;
    color: var(--color-black);
}

.borderName {
    background-color: var(--color-grey-3);
    color: var(--color-white);
    padding: 2%;
    font-size: 25px;
    letter-spacing: 10px;
}

.about, .info{
    background-color: var(--color-grey-3);
    color: var(--color-white);
    min-height: 50vh;
    padding: 2% 5%;   

}

.border-style{
    padding: 5%;
    border-style: solid;
    border-width: 5px;
    border-color: var(--color-white);
}

.titles{
    text-align: center;
    font-size: 25px;
    letter-spacing: 10px;
    text-decoration: underline;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: transparent;
    width: 15vw;
    height: 25vh;
    /* border: 0.25vh solid #f1f1f1; */
    border-radius: 2vh;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }

  .imgPeople {
    border: 0.25vh solid #f1f1f1;
    border-radius: 2vh;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 2vh;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 2vh;

    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    padding-top: 2vh;
    background-color: var(--color-white);
    color: var(--color-black);
    transform: rotateY(180deg); 
   
  }




.video{
    text-align: center;
}

@media(max-width: 786px) {

    .logo {
          position: fixed;
          top: 0;
          margin-top: 16px;
    }

    nav ul {
          max-height: 0px;
          background: #000;
    }

    nav.black ul {
          background: #000;
    }

    .showing {
          max-height: 34em;
    }

    nav ul li {
          box-sizing: border-box;
          width: 100%;
          padding: 24px;
          text-align: center;
    }

    .menu-icon {
          display: block;
    }

}